.body_background 
{
    background-image:url('backg.jpg');
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    font-size: 30px;
}
#myCanvas
{
    border-width:10px;
    background:linear-gradient( to top right,red,orange,yellow,green,blue,indigo,violet); 
    border-style:ridge;
    border-radius: 100px;
}

h3
{
	width: 600px;
	background-color: rgb(0, 255, 85);
	display: inline-block;
   border-radius:100px;
}

